* {
    box-sizing: border-box;
}

.boss {
    background-color: #E0FFFF;
}

h1 {
    font-size: 30px;
    font-weight: 400;
    text-align: center; 
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
    align-items: center;
}

.noLeters{
  background: red;
}