*{
    box-sizing: border-box;
    
}

.boss{
    background-color: #E0FFFF	;
}

h1{
    font-size: 30px;
font-family: Comfortaa;
font-weight: 400;
word-wrap: break-word
}

.obligatory{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
    align-items: center;
}

.del{

    background: none;
    border: none;
    cursor: pointer;
    border: 5px;
}

